<div class="view-container flex">
  <nav class="navbar">
    <div></div>
    <div></div>
    <div></div>
  </nav>
  <% flash.each do |type, msg| %>
    <div class="content-list">
      <div class="list-item text-center">
        <span class="notice-sign-success">&#10003;</span>
        <h3 class="nav-header">SUCCESS</h3>
        <p class="notice-message"><%= msg %></p>
      </div>
    </div>
  <% end %>
  <div class="bottom-action green-button flex">
    <%= link_to 'OK', new_user_session_path, class: "bottom-action-button flex white-text"%>
  </div>
</div>