<div class="view-container">
  <% flash.each do |type, msg| %>
    <div>
      <span class="notice-failure">&#10060;</span>
      <p><%= msg %></p>
      <%= link_to 'OK', cats_path %>
    </div>
  <% end %>
</div>