<div class="view-container">
  <% flash.each do |type, msg| %>
    <div>
      <span class="notice-success">&#10003;</span>
      <p><%= msg %></p>
      <%= link_to 'OK', cat_path(@cat_id) %>
    </div>
  <% end %>
</div>