/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}

button {
  background: none;
  border: none;
  color: lightgray;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.main-container {
  height: 100%;
  justify-content: center;
}

.view-container {
  flex-direction: column;
  max-width: 22.5rem;
  height: 100%;
  width: 100%;
}

.navbar {
  height: 12%;
  background-color: #3778c2;
  color: lightgray;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.nav-header {
  text-align: center;
  font-weight: bold;
}

.back-button {
  font-size: 1.5rem;
}

.logout-button,
.login-button {
  background: none;
  cursor: pointer;
}

.content-list {
  flex-grow: 10;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
  background-color: #eee;
  padding: 0.5rem;
  overflow-y: scroll;
}

.list-item {
  width: 95%;
  max-width: 100%;
  background-color: white;
  color: rgb(78, 78, 78, 1);
  padding: 0.5rem;
  font-weight: bold;
}

.list-item-info {
  justify-content: space-between;
  padding-top: 0.4rem;
  padding-left: 0.7rem;
  padding-right: 0.45rem;
  flex-grow: 2;
}

.list-item-name {
  color: darkgray;
  text-decoration: none;
}

.bottom-action {
  padding: 1rem;
  flex-grow: 1;
}

.green-button {
  background-color: #5fb523;
}

.white-text {
  color: white;
}

.bottom-action-button {
  flex-grow: 1;
  border: 1px solid white;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.cat-icon {
  width: 3rem;
}

/*  Notices  */
.text-center {
  text-align: center;
}

.notice-sign-success {
  font-size: 8rem;
  background-color: #5fb523;
  color: white;
  border-radius: 100%;
  padding: 0 1.5rem;
}

.notice-sign-error-container {
  justify-content: center;
}

.notice-sign-error-symbol {
  background-color: #b5235f;
  color: white;
  font-size: 8rem;
  border-radius: 100%;
  padding: 0 1.5rem;
}

.notice-message {
  text-align: center;
  color: #aaa;
}

/*  Splash Screen   */
.blue-button {
  background-color: #3778c2;
}

.splash-screen-title {
  font-size: 1.5rem;
  font-weight: bold;
  flex-grow: 20;
  justify-content: center;
  align-items: center;
}

.splash-screen-bottom-action {
  flex-direction: column;
}

.splash-screen-button > a {
  flex-grow: 1;
  text-align: center;
}

.splash-screen-button {
  flex-grow: 1;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.signup-button {
  color: gray;
}

/*   LOGIN   */
.login-button {
  border: none;
}

.form {
  flex-direction: column;
  row-gap: 0.5rem;
}

.form-input {
  border: none;
  flex-grow: 1;
  padding: 0.5rem;
}

.shared-links {
  color: gray;
}

/*  TRANSATIONS   */
.amount {
  padding: 0.25rem 0;
}

.list-item-transaction {
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem 0.5rem;
}