/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 body {
   margin: 0;
   height: 100vh;
   overflow-y: hidden;
 }
 
 button {
   background: none;
   border: none;
   color: lightgray;
 }

.flex {
  display: flex;
}

.main-container {
  height: 100%;
  justify-content: center;
}

.view-container {
  flex-direction: column;
  max-width: 22.5rem;
  height: 100%;
  width: 100%;
}

.navbar {
  flex-grow: 2;
  background-color: #3778c2;
  color: lightgray;
  display: grid;
  grid-template-areas: '. . . center center right';
  align-items: center;
  justify-items: center;
}

.nav-header {
  grid-area: center;
  text-align: center;
  font-weight: bold;
}

.logout-button {
  grid-area: right;
  background-color: #3778c2;
  cursor: pointer;
}

.content-list {
  flex-grow: 5;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
  background-color: #eee;
  padding: 0.5rem;
}

.list-item {
  width: 95%;
  max-width: 100%;

  background-color: white;
  color: rgb(78, 78, 78, 1);

  padding: 0.5rem;

  font-weight: bold;
}

.list-item-info {
  justify-content: space-between;
  padding-top: 0.4rem;
  padding-left: 0.7rem;
  padding-right: 0.45rem;
  flex-grow: 2;
}

.list-item-name {
  color: darkgray;
  text-decoration: none;
}

.bottom-action {
  background-color: #5fb523;

  padding: 1rem;
  flex-grow: 1;
}

.bottom-action-button {
  flex-grow: 1;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.cat-icon {
  width: 3rem;
}